@use "@/shared/styles/variables" as *;

.field {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;

  &__label {
    font-size: 0.875rem;
    font-weight: 500;
    color: $color-text-label;
  }

  &__error {
    font-size: 0.75rem;
    color: $color-danger;
  }
}
